@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    font-family: "Rubik", serif;
}

body {
    background-color: #090909;
    color: #efefef;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.showGens {
    background-color: #517f58;
    color: white;
    font-size: 28px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.header p {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
}

.header a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

.header button {
    margin-top: 20px;
}

.generators, .searchWrapper {
    transition: visibility 1s, opacity 1s;
}

.generators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 3;
    max-width: 100%;
}

.generatorContainer {
    background: url("/dirt.jpg") center;
    background-size: cover;
    width: 300px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #757575;
    transition: margin-left .2s 0.3s;
}

.generator {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.generatorContainer h1 {
    text-align: center;
}

.sha {
    word-break: break-all;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.notVerifiable {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.generator p {
    text-align: center;
}

.generator a {
    margin-bottom: 20px;
}

.generator::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.generator::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.generator::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #444;
}

.closeWrapper {
    position: absolute;
    left: calc(100% - 32px);
    top: 0;
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #ff0000;
    border-radius: 4px;
}

.close {
    opacity: 1;
}

.closeWrapper:hover .close {
    opacity: 0.7;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

input {
    outline: none;
}
.search {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type="search"] {
    background: #ededed
        url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
        no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 300px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
input[type="search"]:focus,
.searchWrapper .search:not([value=""]) {
    width: 300px;
    background-color: #fff;
    border-color: #66cc75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

.searchWrapper .search {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
.searchWrapper .search:hover {
    background-color: #fff;
}
.searchWrapper .search:focus,
.searchWrapper .search:not([value=""]) {
    width: 300px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
.searchWrapper input:-moz-placeholder {
    color: transparent;
}
.searchWrapper input::-webkit-input-placeholder {
    color: transparent;
}

.notVerifiable {
    color: #a81717;
    font-weight: bold;
}

.link {
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    font-size: 38px;
    border: none;
    border-radius: 10px;
    width: 300px;
}